__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

checkpoints/*
!checkpoints/latest.pt.part*
!checkpoints/latest_v2.pt.part*
!checkpoints/tokenizer/
!checkpoints/tokenizer_v2/
data/corpus.txt
data/meta.json
data/*.bin
data/cache/
data/*.tmp

.ipynb_checkpoints/
.DS_Store
*.log
nohup.out
!checkpoints/latest_v3.pt.part*
